In [1]:
import pandas as pd
import numpy as np
import requests
from io import StringIO

In [71]:
url="https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/IPL/matches.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
res=requests.get(url,headers=headers)

In [63]:
# res.text

In [64]:
# print(res.text)

In [72]:
data=StringIO(res.text)

In [73]:
data

In [74]:
url_fetch=pd.read_csv(data)
url_fetch.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [75]:
url_fetch.set_index('id').head()

,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

# HTML:
* How to fetch data using html

In [76]:
html_fetch=pd.read_html("https://www.worldometers.info/world-population/")

The above url has five(5) tables inside it so, fetch it.

In [77]:
html_fetch[0]  #first table

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2025,8231613070,0.85%,69640498,30.9,2.24,55
1,2024,8161972572,0.87%,70237642,30.6,2.25,55
2,2023,8091734930,0.88%,70327738,30.4,2.25,54
3,2022,8021407192,0.84%,66958801,30.1,2.27,54
4,2021,7954448391,0.86%,67447099,29.8,2.29,53
5,2020,7887001292,1.09%,83301884,29.6,2.32,53
6,2015,7470491872,1.25%,89751945,28.3,2.54,50
7,2010,7021732148,1.29%,86952403,27.2,2.60,47
8,2005,6586970132,1.31%,83053428,26.1,2.63,44
9,2000,6171702993,1.39%,82564802,25.1,2.75,41
10,1995,5758878982,1.57%,86215174,24.0,2.89,39
11,1990,5327803110,1.82%,91771929,22.9,3.31,36
12,1985,4868943465,1.83%,84267446,22.0,3.52,33
13,1980,4447606236,1.79%,75374192,21.5,3.74,30
14,1975,4070735277,1.96%,75210297,20.7,4.08,27
15,1970,3694683794,2.07%,72030018,20.3,4.83,25
16,1965,3334533703,2.03%,63812562,20.8,5.07,22
17,1960,3015470894,1.93%,55051420,21.5,4.70,20
18,1955,2740213792,1.91%,49424189,21.8,5.00,18

In [78]:
html_fetch[1] # second table

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2030,8569124911,0.81%,67502368,32.0,2.20,58
1,2035,8885210181,0.73%,63217054,33.0,2.15,60
2,2040,9177190203,0.65%,58396004,34.0,2.13,62
3,2045,9439639668,0.57%,52489893,35.0,2.12,63
4,2050,9664378587,0.47%,44947784,36.1,2.10,65

In [79]:
html_fetch[2] # third table

,Year,1,1000,1500,1650,1750,1804,1850,1900,1930,...,1980,1987,1998,2010,2022,2029,2037,2046,2060,2100
0,Population,0.2,0.275,0.45,0.5,0.7,1,1.2,1.6,2,...,4.5,5,6,7,8,8.5,9,9.5,10,10.2

In [80]:
html_fetch[3]  # fourth table

,#,Region,Population (2025),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,Asia,4835320060,0.59%,28422053,156,31033131,"−2,389,647",1.87,32.5,53.6%,58.74%
1,2,Africa,1549867579,2.29%,34726730,52,29648481,"−377,785",3.95,19.3,45%,18.83%
2,3,Europe,744398832,−0.09%,"−684,992",34,22134900,1478090,1.41,42.8,75.9%,9.04%
3,4,Latin America and the Caribbean,667888552,0.67%,4422480,33,20139378,"−406,036",1.78,31.7,85.5%,8.11%
4,5,Northern America,387528403,0.58%,2233298,21,18651660,1556592,1.59,38.7,82.5%,4.71%
5,6,Oceania,46609644,1.13%,520928,5,8486460,140121,2.13,33.4,66.2%,0.57%

In [81]:
html_fetch[4].head() # fifth table

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,India,1463865525,0.89%,12929734,492,2973190,"−495,753",1.94,28.8,37.1%,17.78%
1,2,China,1416096094,−0.23%,"−3,225,184",151,9388211,"−268,126",1.02,40.1,67.5%,17.20%
2,3,United States,347275807,0.54%,1849236,38,9147420,1230663,1.62,38.5,82.8%,4.22%
3,4,Indonesia,285721236,0.79%,2233305,158,1811570,"−39,509",2.10,30.4,59.6%,3.47%
4,5,Pakistan,255219554,1.57%,3950390,331,770880,"−1,235,336",3.50,20.6,34.4%,3.10%

# API Interface Fetching:

first go to the movie database and login in and then extract your url with your api key.

In [82]:
url="https://api.themoviedb.org/3/movie/top_rated?api_key=c0b6e9bf12a3d78c1b24a9b05b53bafe&language=en-US&page=1"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
res=requests.get(url,headers=headers)

In [68]:
# res.json()

In [69]:
# res.json()['results']

In [83]:
pd.DataFrame(res.json()['results'])[['id','title','overview','release_date','vote_average','vote_count']]

,id,title,overview,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,8.714,29543
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,8.686,22305
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,8.570,13490
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,8.565,17003
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,8.552,9659
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,8.533,17840
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,8.526,35005
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,8.518,4541
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,8.503,18730
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,8.496,19969
10,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,8.493,25874
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,8.486,29546
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,8.479,12226
13,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,8.468,9351
14,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,8.466,38632
15,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,8.462,29107
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,8.452,13916
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,8.450,4083
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,8.444,6285
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,8.440,13726

this is only for the page 1 but there are almost 530 pages. so, extract that also.

In [84]:
lst_of_movies=[]

In [85]:
for i in range(1,531):
    url="https://api.themoviedb.org/3/movie/top_rated?api_key=c0b6e9bf12a3d78c1b24a9b05b53bafe&language=en-US&page=1"
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
    res=requests.get(url,headers=headers)
    if res.status_code==200:
        temp_df=pd.DataFrame(res.json()['results'])[['id','title','overview','release_date','vote_average','vote_count']]
        lst_of_movies.append(temp_df)
df=pd.concat(lst_of_movies,ignore_index=True)

In [86]:
df.head()

,id,title,overview,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,8.714,29543
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,8.686,22305
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,8.570,13490
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,8.565,17003
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,8.552,9659

# Web Scrapping:
* How to fetch data using others site for analysis?

In [87]:
from bs4 import BeautifulSoup

In [88]:
url="https://www.jobsnepal.com/top-job?page=1"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
res=requests.get(url,headers=headers)

In [89]:
# res.text

In [90]:
soup=BeautifulSoup(res.text,'lxml')

In [91]:
# soup.prettify()

In [92]:
# print(soup.prettify())

In [94]:
# soup.find_all('h2')

In [95]:
for i in soup.find_all('h2'):
    print(i.text.strip())

Livelihoods & Local Economic Development Specialist
Vacancy For Consultancy Service
TERMS OF REFERENCE (ToR)
Expression of Interest (EOI) for Midterm External Evaluation of the Securing Access for Education Project (SAFE)
INVITATION FOR BIDS
Vacancy Announcement for Admin and Logistic Officer based in Surkhet
REQUEST FOR QUOTATION (RFQ) - External Audit Services
REQUEST FOR QUOTATION (RFQ) - Annual Maintenance Service Contract for IT Equipment
Request for Quotation for Vehicle Rental Service
सामाजिक परिचालक (Social Mobiliser)
REQUEST FOR QUOTATION (RFQ): Laptop Procurement
HR Manager
Jobs by Categories
Jobs by Cities
Jobs by Types
For Job Seekers
For Employers
Links

In [96]:
jobs=[p.text.strip() for p in soup.find_all('h2')]

In [97]:
jobs=jobs[1:jobs.index('HR Manager')+1]

In [98]:
jobs

['Vacancy For Consultancy Service',
 'TERMS OF REFERENCE (ToR)',
 'Expression of Interest (EOI) for Midterm External Evaluation of the Securing Access for Education Project (SAFE)',
 'INVITATION FOR BIDS',
 'Vacancy Announcement for Admin and Logistic Officer based in Surkhet',
 'REQUEST FOR QUOTATION (RFQ) - External Audit Services',
 'REQUEST FOR QUOTATION (RFQ) - Annual Maintenance Service Contract for IT Equipment',
 'Request for Quotation for Vehicle Rental Service',
 'सामाजिक परिचालक (Social Mobiliser)',
 'REQUEST FOR QUOTATION (RFQ): Laptop Procurement',
 'HR Manager']

In [99]:
company=soup.find_all('div',class_='card-inner')

In [100]:
jobs=[]
name=[]
location=[]
for i in company:
    jobs.append(i.find('p').text.strip())
    name.append(i.find('h2').text.strip())

In [52]:
jobs

['dZi Foundation',
 'Helen Keller Intl Nepal',
 'KOSHISH',
 'ChildFund Japan',
 'NNSWA',
 'CARE Nepal',
 'ChildFund Japan',
 'ChildFund Japan',
 'Helen Keller Intl Nepal',
 'UMN Medical and Development Trust',
 'HERD International',
 'Zoological Society of London']

In [101]:
name

['Livelihoods & Local Economic Development Specialist',
 'Vacancy For Consultancy Service',
 'TERMS OF REFERENCE (ToR)',
 'Expression of Interest (EOI) for Midterm External Evaluation of the Securing Access for Education Project (SAFE)',
 'INVITATION FOR BIDS',
 'Vacancy Announcement for Admin and Logistic Officer based in Surkhet',
 'REQUEST FOR QUOTATION (RFQ) - External Audit Services',
 'REQUEST FOR QUOTATION (RFQ) - Annual Maintenance Service Contract for IT Equipment',
 'Request for Quotation for Vehicle Rental Service',
 'सामाजिक परिचालक (Social Mobiliser)',
 'REQUEST FOR QUOTATION (RFQ): Laptop Procurement',
 'HR Manager']

In [102]:
data = {'job':jobs, 'company_name': name}
df = pd.DataFrame(data)
df

,job,company_name
0,dZi Foundation,Livelihoods & Local Economic Development Speci...
1,Helen Keller Intl Nepal,Vacancy For Consultancy Service
2,KOSHISH,TERMS OF REFERENCE (ToR)
3,ChildFund Japan,Expression of Interest (EOI) for Midterm Exter...
4,NNSWA,INVITATION FOR BIDS
5,CARE Nepal,Vacancy Announcement for Admin and Logistic Of...
6,ChildFund Japan,REQUEST FOR QUOTATION (RFQ) - External Audit S...
7,ChildFund Japan,REQUEST FOR QUOTATION (RFQ) - Annual Maintenan...
8,Helen Keller Intl Nepal,Request for Quotation for Vehicle Rental Service
9,UMN Medical and Development Trust,सामाजिक परिचालक (Social Mobiliser)
10,HERD International,REQUEST FOR QUOTATION (RFQ): Laptop Procurement
11,Zoological Society of London,HR Manager

In [103]:
headers = {
    "User-Agent": "Mozilla/5.0"
}
jobs = []
company_names = []

# change range as needed (example: first 10 pages)
for page in range(1, 4):
    url = f"https://www.jobsnepal.com/top-job?page={page}"
    res = requests.get(url, headers=headers)
    soup = BeautifulSoup(res.text, "html.parser")

    company = soup.find_all('div', class_='card-inner')

    # stop if no data (important!)
    if not company:
        break

    for i in company:
        job = i.find('h2')
        name = i.find('p')

        jobs.append(job.text.strip() if job else None)
        company_names.append(name.text.strip() if name else None)

# create dataframe
df = pd.DataFrame({
    'job': jobs,
    'company_name': company_names
})
df

,job,company_name
0,Livelihoods & Local Economic Development Speci...,dZi Foundation
1,Vacancy For Consultancy Service,Helen Keller Intl Nepal
2,TERMS OF REFERENCE (ToR),KOSHISH
3,Expression of Interest (EOI) for Midterm Exter...,ChildFund Japan
4,INVITATION FOR BIDS,NNSWA
5,Vacancy Announcement for Admin and Logistic Of...,CARE Nepal
6,REQUEST FOR QUOTATION (RFQ) - External Audit S...,ChildFund Japan
7,REQUEST FOR QUOTATION (RFQ) - Annual Maintenan...,ChildFund Japan
8,Request for Quotation for Vehicle Rental Service,Helen Keller Intl Nepal
9,सामाजिक परिचालक (Social Mobiliser),UMN Medical and Development Trust
10,REQUEST FOR QUOTATION (RFQ): Laptop Procurement,HERD International
11,HR Manager,Zoological Society of London
12,Equity Rights and Social Safeguards Technical ...,Zoological Society of London
13,Documentation Officer,Shine Education Services Pvt. Ltd.
14,CALL FOR PROPOSAL TO CONDUCT EVALUATION OF DIS...,United Mission to Nepal
15,Request for Proposal (RFP) – Consultancy Servi...,World Vision International Nepal
16,Invitation for E-Tender for Project Audit,Welthungerhilfe
17,सामाजिक परिचालक (Social Mobiliser),UMN Medical and Development Trust
18,Terms of Reference (TOR) for Consultancy Service,YUWA
19,Terms of Reference: Up-scaling WASH systems st...,Welthungerhilfe
20,Executive Candidate,Himalayan Everest Water Pvt. Ltd
21,Invitation for Bids: Construction of Material ...,Bageshwori Asal Shasan Club (BAS Nepal)
22,Call for Proposals: Developing an MRV IT Syste...,WWF Nepal
23,Video Editor (Full-Time),Praweb Service Private Limited
24,Advocacy Officer,KOSHISH
25,Advocacy Manager,KOSHISH
26,Front Desk Assistant/ Counsellor Trainee,Beyond Borders Education & Migration
27,Country Director,Hedwig and Robert Samuel Foundation